<!-- <p>signup works!</p> -->
<div class="container border mt-5 p-2 mb-5">
    <h2>Sign Up</h2>
    <div class="p-3 w-75 mx-auto alert alert-danger mb-5 mt-4" *ngIf="error!=''">{{error}} </div>
    <form [formGroup]="signupForm" (submit)="onSubmitSignUp()">
      <div class="form-row mt-2">
        <div class="col-12 col-lg-6 col-sm-12 mb-3">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" name="username" formControlName="username"
            placeholder="Enter Username" />
        </div>
      </div>
      <div class="text-danger"
        *ngIf="signupForm.get('username').hasError('required') && signupForm.get('username').touched ">
        Username is required
      </div>
      <div class="text-danger"
        *ngIf="signupForm.get('username').touched && signupForm.get('username').hasError('maxlength')">Username
        cannot exceed 20 characters</div>
      <div class="form-row  mt-2">
        <div class="col-12 col-lg-6 col-sm-12 mb-3">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" formControlName="firstname"
            placeholder="Enter First Name" />
          <div class="text-danger"
            *ngIf="signupForm.get('firstname').touched && signupForm.get('firstname').hasError('required')">First Name
            is required</div>
          <div class="text-danger"
            *ngIf="signupForm.get('firstname').touched && signupForm.get('firstname').hasError('pattern')">First Name
            cannot have numbers</div>
          <div class="text-danger"
            *ngIf="signupForm.get('firstname').touched && signupForm.get('firstname').hasError('maxlength')">First
            Name cannot exceed 30 characters</div>
        </div>
        <div class="col-12 col-lg-6 col-sm-12 mb-3">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" class="form-control" formControlName="lastname"
            placeholder="Enter Last Name" />
          <div class="text-danger"
            *ngIf="signupForm.get('lastname').touched && signupForm.get('lastname').hasError('required')">Last Name
            is required</div>
          <div class="text-danger"
            *ngIf="signupForm.get('lastname').touched && signupForm.get('lastname').hasError('pattern')">Last Name
            cannot have numbers</div>
          <div class="text-danger"
            *ngIf="signupForm.get('lastname').touched && signupForm.get('lastname').hasError('maxlength')">Last
            Name cannot exceed 30 characters</div>
        </div>
      </div>
        
        <div class="form-row  mt-2">
            <div class="col-12 col-lg-3 col-sm-12 mb-3">
                <label for="gender">Gender</label>
                <select class="form-control" name="gender" formControlName="gender" id="gender" >
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
                <div class="text-danger" *ngIf="signupForm.get('gender').hasError('required')">Select at least one gender</div>
              </div>

              <div class="col-12 col-lg-3 col-sm-12 mb-3">
                  <label for="age">Age</label>
                  <input type="text" id="age" class="form-control" formControlName="age"
                    placeholder="Enter Age " />
                  <div class="text-danger"
                    *ngIf="signupForm.get('age').touched && signupForm.get('age').hasError('required')">Age
                    is required</div>

                  <div class="text-danger"
                    *ngIf="signupForm.get('age').touched && signupForm.get('age').hasError('pattern')">Age should
                    be numbers</div>
              </div>
           
              <div class="col-12 col-lg-6 col-sm-12 mb-3">
                  <label for="number">Number</label>
                  <input type="text" id="number" class="form-control" formControlName="number"
                    placeholder="Enter Last Name" />
                  <div class="text-danger"
                    *ngIf="signupForm.get('number').touched && signupForm.get('number').hasError('required')">Number
                    is required</div>
                  <div class="text-danger"
                    *ngIf="signupForm.get('number').touched && signupForm.get('number').hasError('pattern')">Number
                    should have numbers</div>
                  <div class="text-danger"
                    *ngIf="signupForm.get('number').touched && signupForm.get('number').hasError('maxlength')">
                    Number cannot exceed 10 digits</div>
                </div>
        </div>
        
     
        <div class="form-row  mt-2">
            <div class="col-12 col-lg-6 col-sm-12 mb-3">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email"
                  placeholder="Enter Email" />
                <div class="text-danger"
                  *ngIf="signupForm.get('email').touched && signupForm.get('email').hasError('required')">Email
                  is required</div>
              </div>

             
           
              <div class="col-12 col-lg-6 col-sm-12 mb-3">
                  <label for="branch">Branch</label>
                  <input type="text" id="branch" class="form-control" formControlName="branch"
                    placeholder="Enter Branch" />
                  <div class="text-danger"
                    *ngIf="signupForm.get('branch').touched && signupForm.get('branch').hasError('required')">Branch
                    is required</div>
        </div>
        </div>


      <div class="form-row  mt-2">
        <div class="col-12 col-lg-6 col-sm-12 mb-3">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
            placeholder="Enter Password" />
          <div class="text-danger"
            *ngIf="signupForm.get('password').touched && signupForm.get('password').hasError('required')">Password is
            required</div>
          <div class="text-danger"
            *ngIf="signupForm.get('password').touched && signupForm.get('password').hasError('maxlength')">Password cannot
            exceed 13 characters</div>
          <div class="text-danger"
            *ngIf="signupForm.get('password').touched && signupForm.get('password').hasError('minlength')">Password cannot
            be less than 2 characters</div>
        </div>
        <div class="col-12 col-lg-6 col-sm-12 mb-3">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
            placeholder="Enter Confirm Password" />
          <div class="text-danger"
            *ngIf="signupForm.get('confirmPassword').touched && signupForm.get('confirmPassword').hasError('required')">
            Confirm Password is required</div>
        </div>
        <div class="alert alert-danger" *ngIf="passwordMismatch">
          Password and Confirm Password is not same</div>
      </div>
      <button class="mt-5 mb-5" type="submit" id="vehicle_save_button" [disabled]="!signupForm.valid"
        class="btn btn-primary">SignUp</button>
    </form>
  </div>