<!-- 
  <p>vehicle works!</p> -->

 
       <div class="container mb-5">
          <div class="text-center mt-4 mb-4">
              <h1><i class=" vehicle-reservation-main-icon material-icons"
                style="vertical-align:middle">home</i> Welcome to Vehicle Reservation system</h1>
            </div>
          <div class="jumbotron mb-5">
      
         
          <div class="col-12 col-lg-10 col-sm-6"  class="text-center">
            <div >
              <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_480652712_20001303200092800_108299.jpg"
              class="img-fluid" alt="" >
          </div>
        </div>
        
            <div class="col-6 col-lg-5 col-sm-3"  class="text-center" >
                <div class="mt-5">
                    <h3>Self-Drive Vehicle Rentals You Can Count On.</h3>
              
                      <h4>Whether you’re planning a road trip outside the city or looking for a convenient way to cruise around when you’re out of town,
                         You can pick one of oue vehicle rental options to drive down to the nearby beach or to manoeuvre through traffic 
                         as you head from one important business meeting to the next.
                        With a self-drive vehicle
                         you have the freedom to move around and explore places at your own pace.</h4>
               
              
              </div>
           </div>


        

           <div class="col-6 col-lg-5 col-sm-3"  class="text-center" >
              <div class="mt-5">
                  <h3>When you choose to rent a car with Us, you can enjoy:</h3>
            
                    <h4>Flexible Rentals,All-India Permits,Unending Opportunities</h4>
             
            
            </div>
         </div>
               
  <div class="col-12 col-lg-10 col-sm-6 " class="text-center" >
    <div class="mt-5">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQfn31xml_auta3clWtAS_f4xVOllQfZjLgTDVqbtzobUbrdu39"
      class="img-fluid" alt="" >
    </div>
  </div>
  <div class="col-6 col-lg-5 col-sm-3"  class="text-center" >
      <div class="mt-5">
          <h1>Enjoy your Ride</h1>
     
    
    </div>
 </div>
  </div>
  </div>
